html, body, div{
    height: 100%;
}
body {
    background-color: black;
    color: white;
}
table{
    border: none;
    height: 50px;
}
th, td{
    padding: 14px;
}
.container {
    display: table;
    width: 100%;
}

.left-half {
    background-color: #ff9e2c;
    position: absolute;
    left: 0px;
    width: 55%;
}

.right-half {
    background-color: #b6701e;
    position: absolute;
    right: 0px;
    width: 45%;
}

.center{
    margin-left: auto;
    margin-right: auto;
}