html, body, div{
    height: 100%;
}
body {
    background-color: black;
    color: white;
    font-family: 'Inter';
}

@font-face{
    font-family: 'Inter';
    src:  url('Inter-VariableFont.ttf') format('tff'),
}
table{
    border: none;
    height: 50px;
    margin-bottom: 20px;
    
}
th, td{
    padding: 14px;
}

section{
    padding:19px;
}

button{
    font-family: 'Inter';
    background-color: transparent;
    font-weight: bold;
    font-size:16px;
    border: none;
    outline: none;
    color: white;
}

form{
    padding: 5px;
    max-width: 350px;
    background-color: white;
    opacity: 80%;
}
form button{
    color: black;
}

.rect{
    width: 541px;
    height: 18px;
    background-color:#ffffff;
    margin-bottom: 69px;
}

.progress{
    position: relative;
    height: 10px;
    width: 550px;
    border: 5px solid #f4a261;
    border-radius: 15px;
}
.progress .throttleColor{
    position: absolute;
    background-color: #ffffff;
    width: 50%;
    height: 10px;
    border-radius: 15px;
    animation: progres 4s infinite linear;    
}

.progress .rudderColor{
    position: absolute;
    background-color: #ffffff;
    width: 0%;
    height: 10px;
    border-radius: 15px;
    animation: progres 4s infinite linear;    
}

.container {
    display: table;
    width: 100%;
}

.left-half {
    position: absolute;
    left: 0px;
    width: 55%;
}

.right-half {
    position: absolute;
    right: 0px;
    width: 45%;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.sponsor{
    height: 29px;
    width: auto;
}

.label {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.bottom{
    position: fixed;
    bottom: 0px;
}

.formPopUp{
    display: none;
    position: fixed;
    z-index: 1;
    
}

.control{
    color: #F58025;
    font-weight: lighter;
}

.bold{
    font-weight: bold;
}

th.thin{
    font-weight: lighter;
}

.speedDir{
    font-size: 40px;
    font-weight: normal;
    margin: 0px;
}

th.speedDir{
    padding-left: 75px;
    padding-right: 75px;
    
}

.pave{
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}

.sub{
    padding:0px;
    font-size: 20px;
    margin:0px;
}

#boat {
    position: absolute;
    background-color: blue;
    top: 150px;
    left: 200px;
}

.buoy {
    position: absolute;
    background-color: red;
    top: 300px;
    left: 200px;
}

#map {
    position: absolute;
    height: 350px;
    width: 700px;
    left: 35px;
}
