html, body, div{
    height: 100%;
}
body {
    background-color: black;
    color: white;
}
table{
    border: none;
    height: 50px;
}
th, td{
    padding: 14px;
}

section{
    padding:19px;
}

.rect{
    width: 541px;
    height: 18px;
    background-color:#ffffff;
    margin-bottom: 69px;
}

.progress{
    position: relative;
    height: 10px;
    width: 550px;
    border: 5px solid #f4a261;
    border-radius: 15px;
}
.progress .throttleColor{
    position: absolute;
    background-color: #ffffff;
    width: 50%;
    height: 10px;
    border-radius: 15px;
    animation: progres 4s infinite linear;    
}

.progress .rudderColor{
    position: absolute;
    background-color: #ffffff;
    width: 0%;
    height: 10px;
    border-radius: 15px;
    animation: progres 4s infinite linear;    
}

.container {
    display: table;
    width: 100%;
}

.left-half {
    background-color: #ff9e2c;
    position: absolute;
    left: 0px;
    width: 55%;
}

.right-half {
    background-color: #b6701e;
    position: absolute;
    right: 0px;
    width: 45%;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.sponsor{
    height: 29px;
    width: auto;
}

.label {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

#boat {
    position: absolute;
    background-color: blue;
    top: 150px;
    left: 200px;
}

.buoy {
    position: absolute;
    background-color: red;
    top: 300px;
    left: 200px;
}

#map {
    position: absolute;
    height: 350px;
    width: 700px;
    top: 200px;
    left: 35px;
}